<!DOCTYPE html>
<html lang="en">

<head>
	{% load static %}
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="" href="{% static './css/main.css' %}">

	<title>Student List 2023</title>
</head>

<body>
	<section class="header">
		<h1 class="left">
			<a href="">
				<img src="{% static 'images/images.jpeg' %}" alt="">
			</a>
		</h1>
		<div class="right">
			{% if request.user.is_authenticated%}
			<span>{{request.user.first_name}} {{request.user.last_name}}</span>
			<a href="{% url 'users:logout' %}">Logout</a>
			{% else %}
			<a href="{% url 'users:login' %}">Login</a>
			{% endif %}
		</div>
	</section>

	<header>
		<h1>Student List 2021</h1>

		<form id="new-task-form" method="post" action="{% url 'users:create_task' %}">
			{% csrf_token %}
			<label class="wes" for="{{form.creat_task.id_for_label}}">Create task</label>
			{{form.creat_task}}

			<input  type="submit" id="new-task-submit" value="Add task" />
		</form>
	</header>
	<main>
		<section class="task-list">
			<h2>Tasks</h2>
			{% if instances %}
			<div id="tasks">
				{% for instance in instances %}
				<div class="task">
					<div class="content">
						<input type="text" class="text" value="{{instance.creat_task}}" readonly>
					</div>
					<div class="actions">
						<a href="{% url 'users:edit_task' id=instance.id %}">
							<button class="edit">Edit</button></a>
						<a href="{% url 'users:delete_task' id=instance.id  %}"><button
								class="delete">Delete</button></a>
						<a href="{% url 'users:completed_task' id=instance.id  %}"><button
								class="delete ">Completed</button></a>
					</div>
				</div>
				{% endfor %}
			</div>
			{% endif %}
		</section>
	</main>
	<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>
</body>

</html>